.infor-container{
    display: flex;
    align-items: center;
    justify-content: center;
   
}
.img-thumbnail{
    width: 50%;
    float:left;
    justify-content: center;
    color: #666;
}
.infor{
    width: 50%;
    float:right;
}
.about-me{
   font-style: italic;
   color: crimson;
}
body{
    font-family: cursive;
    
}
.back-button a{

    color: #666;
    text-decoration-line:none
}
.back-button:hover a{
    text-decoration-line:underline;
    color:red;
    
}